@charset "UTF-8";
:root {
  --primary-color: #e6e9eb;
  --secondary-color: #868a8a;
  --tertiary-color: #dddadc;
}

body {
  background: var(--primary-color);
  font-family: 'Rajdhani', sans-serif;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .header {
  color: var(--primary-color);
}

.dark-mode .main {
  background-color: black;
}

.dark-mode .row {
  background-color: black;
}

.navbar {
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 1.8em;
}

.navbar span {
  color: #474747;
}

.navbar .menu {
  color: var(--secondary-color);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  background-color: var(--secondary-color);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.first {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 46px;
  color: var(--primary-color);
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  font-weight: bold;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 500px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181717;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #e3e7eb;
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #e8eaeb;
          box-shadow: 0 0 1px #e8eaeb;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 70%;
}

.ikonica {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
}

.ikonica a {
  text-decoration: none;
  color: black;
}

.ikonicadva {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
}

.ikonicadva a {
  text-decoration: none;
  color: black;
}

.midde {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.midde:not(checked) > input {
  position: absolute;
  top: -9999px;
}

.midde:not(checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.midde:not(ckecked) > label:before {
  content: '★ ';
}

.midde > input:checked ~ label {
  color: var(--secondary-color);
}

.midde:not(checked) > label:hover, .midde:not(checked) > label:hover ~ label {
  color: #353432;
}

.bottom {
  overflow: hidden;
  background-color: var(--secondary-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  color: white;
  text-align: center;
}

.bottom a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

h3, h2 {
  text-align: center;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */